################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlatformerGameSFML/.vs/PlatformerGameSFML/v16/Browse.VC.opendb
